:root {
  --verde: #1ec575;
  --verde-claro: #8bd49b;
  --bege: #67ba64;
  --marrom-escuro: #412d21;
  --marrom: #6f4f31;
  --marrom-claro: #dbbf8f;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient( yellow, orange);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 450px;
  padding: 1rem;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

label {
  font-weight: 500;
  margin-bottom: 0.25rem;
  display: block;
}

.input-group {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.input-group .icon {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #ff6a00;
}

.input-group input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
}

button {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  width: 100%;
  border: none;
  padding: 0.8rem;
  border-radius: 25px;
  background: linear-gradient(to right bottom, #ffc400, #fce709);
  color: black;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.7;
}

.card.danger button {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--marrom-claro);
  background: linear-gradient(to right, #562b1e, #8d4425);
}
