<body>
  <div class="container">
    <!-- Cadastro -->
    <div class="card">
      <h2>Cadastro</h2>
      <form (ngSubmit)="onSubmit()" #cadastroForm="ngForm">
        <label>Nome completo:</label>
        <div class="input-group">
          <span class="icon">👤</span>
          <input type="text" name="nome" [(ngModel)]="usuario.nome" required />
        </div>

        <label>Login:</label>
        <div class="input-group">
          <span class="icon">🔑</span>
          <input type="text" name="login" [(ngModel)]="usuario.login" required />
        </div>

        <label>Senha:</label>
        <div class="input-group">
          <span class="icon">🔒</span>
          <input type="password" name="senha" [(ngModel)]="usuario.senha" required />
        </div>

        <label>Email:</label>
        <div class="input-group">
          <span class="icon">📧</span>
          <input type="email" name="email" [(ngModel)]="usuario.email" required />
        </div>

        <button type="submit" [disabled]="!cadastroForm.form.valid">Cadastrar</button>
      </form>
    </div>

    <!-- Trocar Senha -->
    <div class="card">
      <h2>Trocar Senha</h2>
      <form (ngSubmit)="trocarSenha()" #formSenha="ngForm">
        <label>Senha Atual:</label>
        <div class="input-group">
          <span class="icon">🔒</span>
          <input type="password" name="senhaAtual" [(ngModel)]="senhaAtual" required />
        </div>

        <label>Nova Senha:</label>
        <div class="input-group">
          <span class="icon">🆕</span>
          <input type="password" name="novaSenha" [(ngModel)]="novaSenha" required />
        </div>

        <label>Confirmar Nova Senha:</label>
        <div class="input-group">
          <span class="icon">✔️</span>
          <input type="password" name="confirmarSenha" [(ngModel)]="confirmarSenha" required />
        </div>

        <button type="submit" [disabled]="!formSenha.form.valid">Atualizar Senha</button>
      </form>
    </div>

    <!-- Deletar Conta -->
    <div class="card danger">
      <h2>⚠️DELETAR CONTA!⚠️</h2>
      <button (click)="deletarConta()">Excluir Conta</button>
    </div>
  </div>
</body>
