body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  /* background: linear-gradient( var(--marrom-claro), var(--marrom-escuro)); */
  background-color: var(--bege);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 450px;
  padding: 1rem;
}

.card {
  background: linear-gradient(rgb(255, 255, 255), rgb(239, 239, 239));
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

label {
  font-weight: 500;
  margin-bottom: 0.25rem;
  display: block;
}

.input-group {
  display: flex;
  align-items: center;
  border: 2px solid #190e0e;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.input-group .icon {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #ff6a00;
}

.input-group input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
}

input.ng-invalid {
  background-color: transparent;
  border: none; /* opcional: remove a borda */
  color: inherit; /* herda a cor do texto do pai */}

button {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  width: 100%;
  border: none;
  padding: 0.8rem;
  border-radius: 25px;
  background: var(--verde-escuro);
  color: rgb(227, 227, 227);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--marrom);
  color: var(--bege);
  transform: translateY(-2px);
}

.card.danger button {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--marrom-claro);
  background: linear-gradient(to right, #562b1e, #8d4425);
}
